*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background: #453F78;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.calculator{
    width: 100%;
    max-width: 400px;
    padding: 15px;
    border-radius: 5px;
}
.clac{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
}
.clac h2{
    color: #fff;
}
.display{
    width: 100%;
    padding: 1.125rem 15px;
    border-radius: 5px;
    background: #795458;
    margin: 1rem 0;
}
.display input{
    width: 100%;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: right;
    border: 0;
    outline: 0;
    background: transparent;
    color: #fff;
}
.buttons{
    width: 100%;
    padding: 2rem 15px;
    border-radius: 5px;
    background: #795458;
    
}
.buttons div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.buttons div:last-child{
    margin-bottom: 0;
}
.buttons input{
    background: #ffc94a;
    border: 0;
    outline: 0;
    width: calc(100% / 5);
    padding: 5px 0;
    border-radius: 2px;
    cursor: pointer;
    font-weight: bold;
}
#reset,
#equal{
    width: calc((100% / 2.11));
}
#reset,
#del{
    background: #453F78;
    color: #fff;
}
#equal{
    background: #C08B5C;
    color: #fff;
}
.buttons input:active{
    transform: scale(0.96);
}

/* style for theme switch  */
.clac div{
    position: relative;
    color: #fff;
    display: flex;
    gap: 20px;
    align-items: center;
}
#progress{
    -webkit-appearance: none;
    width: 90px;
    height: 16px;
    border-radius: 8px;
    background-color: #795458;
    cursor: pointer;
}
#progress::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #fff;
}
#range{
    position: absolute;
    display: flex;
    top: -20px;
    left: 120px;
}


/* localstorage functionality  */
#del-history{
    color: #fff;
    cursor: pointer;
    visibility: hidden;
}

.history{
    width: 100%;
    max-width: 365px;   
    max-height: 70px;
    padding: 2rem 15px;
    border-radius: 5px;
    background: #795458;   
    color: #fff;
    overflow-y: scroll;
    margin-bottom: 10px;
    position: relative;
    top: 0%;
    font-size: 14px;
    transform: translateY(-70px);
    transition: animation 3s;
    text-align: right;
    opacity: 0;
}
.history::-webkit-scrollbar{
    width: 1px;
}
.history::-webkit-scrollbar-thumb{
    background-color: #fff;
}

#show-history,
#hide-history{
    cursor: pointer;
    
}
.show-history{
    animation: show-history 1s linear forwards;
}
@keyframes show-history {
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
